
/* src/components/Navbar.css */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #ddd;
}
